<div class="container-fluid">
    <div class="row">
      <div class="col-12">
  
        <img src="assets/images/ic-close-big.svg" class="icon-close-dialog pointer" (click)="close()">
        <p class="f-18 fw-500 modal-title t-up">{{'addToItinerary' | translate}}</p>
        <p  class="f-16 fw-300">{{'addToItineraryDescription' | translate}}</p>
        

        <mat-form-field class="w-100 fw-300">
            <mat-label>{{'itinerary' | translate}}*</mat-label>
            <mat-select [(ngModel)]="itinerary">
              <mat-option *ngFor="let it of itineraries" [value]="it.id">
                {{it.name}}
              </mat-option>
            </mat-select>
          
          </mat-form-field>

          <div class="w-100 modal-button">
            <button type="submit" (click)="addPath()">{{'add' | translate}}</button>
          </div>
      </div>
    </div>
  </div>