<div class="page content">
    <div class="path-detail-container">
        <ng-container *ngIf="path!=null">

            <app-map [currentCenter]="center" [mapMarkers]="markers" [height]="'350px'"></app-map>

            <div class="row path-title-row mt-3 mb-3">
                <p class="f-30 fw-500 w-auto m-0">{{path.name}}</p>
                <ng-container *ngIf="!isAdmin">
                    <mat-icon class="add-icon pointer" (click)="addToItinerary()">add_circle</mat-icon>
                </ng-container>
            </div>


            <div class="row m-0">
                <div class="col-3">
                    <div class="path-info">

                        <p class="m-0 f-12 fw-500">{{'difficulty' | translate}}</p>
                        <p class="f-16 fw-300">{{path.difficulty}}</p>

                        <div class="row info-title">
                            <mat-icon class="title-icon">timer</mat-icon>
                            <p class="m-0 f-12 fw-500 w-auto">{{'durationFormLabel' | translate}}</p>
                        </div>

                        <p class="f-16 fw-300">{{path.duration}}</p>

                        <div class="row info-title">
                            <mat-icon class="title-icon">timeline</mat-icon>
                            <p class="m-0 f-12 fw-500 w-auto">{{'heightFormLabel' | translate}}</p>
                        </div>

                        <p class="f-16 fw-300">{{path.height}}</p>

                    </div>
                </div>
                <div class="col-9">
                    <p class="f-16 fw-300">{{path.description}}</p>
                </div>

            </div>



        </ng-container>
    </div>
</div>