.fw-300 {
    font-weight: 300;
    font-family: Poppins;
}

.fw-500 {
    font-weight: bold;
}

.t-center {
    text-align: center;
}

.t-up {
    text-transform: uppercase;
}

.f-30 {
    font-size: 30px;
}

.f-20 {
    font-size: 20px;
}

.f-18 {
    font-size: 18px;
}

.f-16 {
    font-size: 16px;
}

.f-14 {
    font-size: 14px;
}

.f-12 {
    font-size: 12px;
}

.t-white {
    color: white;
}

.t-green {
    color: #45523e
}